html{
    box-sizing: border-box;
}
*, *::before,*::after{
    box-sizing: inherit;
}

.cards-content{
    padding: 40px 90px 40px 90px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: hero-bold;
}
.cards{
    display: flex;
    font-family: hero-regular;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.card img{
    width: 200px;
    height: 150px;
}




/*This is the section for navigation*/
.nav-item{
    background-color: #1f2937;
}
.nav-item ul{
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
}
.push-left{
    margin-left: auto;
}

/*This is for the  carasoul section*/
.carasoul-content{
    padding: 45px 100px 45px 100px;
    background-color: #1f2937;
    display: flex;
    align-items: flex-start;
}
.carasoul-content h2{
    font-size: 48px;
    font-weight: bold;
    font-family: hero-bold;
    color: #f9faf8;
}
.carasoul-content p{
    font-family: hero-regular;
    color: #e5e7eb;
    font-size: 18px;
}
.carasoul-content img{
    max-width: 500px;
    max-height: 250px;
    flex: 1;
}
.carasoul-content button{
    background-color: #3882f6;
    border-radius: 10px;
    border: none;
    top: 50%;
    padding: 15px;
    min-height: 30px;
    min-width: 120px;
    color: #e5e7eb;
}

/* quotes section */
.quote{
    background-color: #e5e7eb;
    padding: 40px 60px 40px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quote .text{
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    font-family: hero-regular;
    font-weight: lighter;
}

.quote .author{
    font-size: 22px;
    color: #1f2937;
    font-family: hero-regular;
    font-weight: bold;
}

/*Section for the registration on bottom*/
.reg-bottom{
    margin: 45px 80px 45px 80px;
    padding: 20px 80px 20px 80px;
    background-color: #3882f6;
    display: flex;
    align-items: flex-start;
}
.reg-bottom .reg-start{
    font-family: hero-regular;
    color: #e5e7eb;
}
.reg-bottom .reg-start h3{
    color: #f9faf8;
}
.reg-bottom button{
    margin-top: 50px;
    margin-left: 350px;
    background-color: #3882f6;
    border-radius: 10px;
    border-style:solid;
    border-color: #e5e7eb;
    top: 150%;
    padding: 10px;
    min-height: 30px;
    min-width: 120px;
    color: #f9faf8;
}

/*Footer*/
footer{
    background-color: #1f2937;
    padding: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    font-family: hero-regular;
}